.caja-fija{
	position: fixed;
	width: 100%;
	TEXT-ALIGN: CENTER;
	border-bottom: 5px solid #13C3B1;
    padding-bottom: 10px;
    background-color: beige;
}
h1{
	MARGIN: auto;
    PADDING: 20PX 0;
    BACKGROUND-COLOR: #13C3B1;
    COLOR: WHITE;
    MARGIN-BOTTOM: 15PX;
}
button{
	margin: 15px 0;
    background-color:#13C3B1;
    color: white;
}
textarea{
	width: 90%;
    margin: auto;
}
#lista{
	    padding: 280px 20px 5px;
	    overflow: scroll;
		overflow-x: hidden
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(19, 195, 177, 0.53);
}
.caja{
	    border-bottom: 1px solid #13C3B1;
	    margin: 15px 0;
    	padding: 10px 0;
    	
}
.eliminar{
	float: right;
}
span{
	margin-left: 15px;
}
.check{
	color: #13C3B1;
	
}